--
-- PostgreSQL database dump
--

\restrict 25ey1zFUqLSlfDevSCNb3peOJuocirMsmDvlAbPJAB3JtJaWJr208QIT4AkE7QB

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO druguser;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer,
    product_id integer,
    quantity integer NOT NULL,
    unit_price double precision NOT NULL
);


ALTER TABLE public.order_items OWNER TO druguser;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO druguser;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    user_id integer,
    total_value double precision,
    status character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    payment_method character varying(50)
);


ALTER TABLE public.orders OWNER TO druguser;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO druguser;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    order_id integer,
    type character varying(50) NOT NULL,
    amount double precision NOT NULL,
    invoice_file character varying(255),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.payments OWNER TO druguser;

--
-- Name: COLUMN payments.type; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.payments.type IS 'Tipo de pagamento (pix, cart├úo, boleto, etc.)';


--
-- Name: COLUMN payments.amount; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.payments.amount IS 'Valor pago';


--
-- Name: COLUMN payments.invoice_file; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.payments.invoice_file IS 'Arquivo da nota fiscal';


--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO druguser;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: prescriptions; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.prescriptions (
    id integer NOT NULL,
    order_item_id integer,
    doctor_name character varying NOT NULL,
    crm character varying NOT NULL,
    file_path character varying NOT NULL,
    issued_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.prescriptions OWNER TO druguser;

--
-- Name: prescriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.prescriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prescriptions_id_seq OWNER TO druguser;

--
-- Name: prescriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.prescriptions_id_seq OWNED BY public.prescriptions.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    category character varying(100),
    barcode character varying(100),
    description character varying,
    price numeric(10,2) NOT NULL,
    stock_quantity integer,
    validity date,
    stripe character varying(100),
    requires_prescription boolean
);


ALTER TABLE public.products OWNER TO druguser;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO druguser;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.roles OWNER TO druguser;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO druguser;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.user_roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.user_roles OWNER TO druguser;

--
-- Name: user_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.user_roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_roles_id_seq OWNER TO druguser;

--
-- Name: user_roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.user_roles_id_seq OWNED BY public.user_roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    cpf character varying(14),
    phone character varying(20),
    address character varying(255),
    password_hash character varying(255) NOT NULL,
    is_active boolean,
    role_id integer NOT NULL
);


ALTER TABLE public.users OWNER TO druguser;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO druguser;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: prescriptions id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.prescriptions ALTER COLUMN id SET DEFAULT nextval('public.prescriptions_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: user_roles id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.user_roles ALTER COLUMN id SET DEFAULT nextval('public.user_roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: prescriptions prescriptions_order_item_id_key; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_order_item_id_key UNIQUE (order_item_id);


--
-- Name: prescriptions prescriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_pkey PRIMARY KEY (id);


--
-- Name: products products_barcode_key; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_barcode_key UNIQUE (barcode);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_name_key; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_name_key UNIQUE (name);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_order_items_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_order_items_id ON public.order_items USING btree (id);


--
-- Name: ix_orders_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_orders_id ON public.orders USING btree (id);


--
-- Name: ix_payments_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_payments_id ON public.payments USING btree (id);


--
-- Name: ix_prescriptions_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_prescriptions_id ON public.prescriptions USING btree (id);


--
-- Name: ix_products_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_products_id ON public.products USING btree (id);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_user_roles_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_user_roles_id ON public.user_roles USING btree (id);


--
-- Name: ix_users_cpf; Type: INDEX; Schema: public; Owner: druguser
--

CREATE UNIQUE INDEX ix_users_cpf ON public.users USING btree (cpf);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: druguser
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: prescriptions prescriptions_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(id) ON DELETE CASCADE;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.user_roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 25ey1zFUqLSlfDevSCNb3peOJuocirMsmDvlAbPJAB3JtJaWJr208QIT4AkE7QB

